
.weather.black {
  color: #fff;
  font-weight: 800;
  text-align: end;
  font-size: 26px;
  text-transform: uppercase;
  width: 80%;
  height: 80px;
  background: crimson;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(20% 100%, 0 0, 100% 0, 100% 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  margin-left: 25%;
}

.clip-css {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
}
#city.black{
  color: #fff;
  text-align: end;
  font-size: 44px;
  text-transform: uppercase;
  width: 80%;
  height: 80px;
  background: crimson;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0% 100%, 0% 0%, 80% 0, 100% 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  margin-left: -5%;
  text-shadow: 0 0 10px crimson;
  box-shadow: 0px -15px 8px 8px crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
}




body{
  width: 100%;
  height: 100%;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif; 
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app{
  display: flex;
  flex-direction: column;
  background-color: #252525;
  width: 375px;
  height: 812px;
  justify-content: space-between;
  margin: 10vh auto;
  border: 1px solid rgba(232,232,232,0.8);
  border-radius: 15px;
  box-shadow: -1px 1px 5px 0 rgba(232,232,232,0.5);
  -webkit-box-shadow: -1px 1px 5px 0 rgba(232,232,232,0.5);
  -moz-box-shadow: -1px 1px 5px 0 rgba(232,232,232,0.5);
  color: #fff;
}
input#location {
  width: 60%;
  margin: 40px 0% 40px 5%;
  text-transform: capitalize;
  background-color: #252525;
  /* border: none; */
  color: #fff;
  border-color: transparent;
  border-bottom: 1px solid #fff;
}
.weatherBlock {
  display:flex;
  flex-direction: column;
  padding: 0px 0px 0 0px;
  background-image: url(../../src/img/bgColors.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 80%;
}
.infoBlock {
  display: flex;
  padding: 25px 0 50px 0;
  justify-content: space-around;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  justify-content: flex-start;
}
.iconWeather {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 30%;
}
.weatherOption {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-direction: column;
  width: 50%;
}
.weatherDescription {
  font-size: 20px;
}

.temp {
  font-size: 125px;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherBlock img {
  width: 25px;
  /* margin-left: 20px; */
  display: block;
}
.location {
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: 30px;
}

.weatherOption .option {
  display: flex;
}

.forecastDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#forecastBlock {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 0%;
  height: 20%;
}

.iconWrap img {
  width: 30px;
}

.dayOfWeek {
  font-size: 12px;
}
#windDirection {
  margin-left: 5px;
}

.forecastDay .temp {
  font-size: 16px;
}

.iconWrap {
  margin: 10px 0;
}
.option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
}
.details.item {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  font-size: 18px;
}
.windValue {
  display: flex;
}
.forecastTitle {
  display: flex;
  margin: 0 5%;
  border-bottom: 1px solid #fff;
}

/*INPUT*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
width: 100%;
height: 100%;
}

.container {
position: relative;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 300px;
height: 100px;
}
.container .search {
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 80px;
height: 80px;
background: crimson;
border-radius: 50%;
transition: all 1s;
z-index: 4;
box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
cursor: pointer;
}
.container .search::before {
content: "";
position: absolute;
margin: auto;
top: 22px;
right: 0;
bottom: 0;
left: 22px;
width: 12px;
height: 2px;
background: white;
transform: rotate(45deg);
transition: all 0.5s;
}
.container .search::after {
content: "";
position: absolute;
margin: auto;
top: -5px;
right: 0;
bottom: 0;
left: -5px;
width: 25px;
height: 25px;
border-radius: 50%;
border: 2px solid white;
transition: all 0.5s;
}
.container input {
font-family: "Inconsolata", monospace;
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 50px;
height: 50px;
outline: none;
border: none;
background: crimson;
color: white;
text-shadow: 0 0 10px crimson;
padding: 0 80px 0 20px;
border-radius: 30px;
box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
transition: all 1s;
opacity: 0;
z-index: 5;
font-weight: bolder;
letter-spacing: 0.1em;
}
.container input:hover {
cursor: pointer;
}
.container input:focus {
width: 300px;
opacity: 1;
cursor: text;
}
.container input:focus ~ .search {
right: -250px;
background: #151515;
z-index: 6;
}
.container input:focus ~ .search::before {
top: 0;
left: 0;
width: 25px;
}
.container input:focus ~ .search::after {
top: 0;
left: 0;
width: 25px;
height: 2px;
border: none;
background: white;
border-radius: 0%;
transform: rotate(-45deg);
}
.container input::placeholder {
color: white;
opacity: 0.5;
font-weight: bolder;
}
input#location:focus {
  border-bottom: 1px solid #fff;
  outline: 0;
  /* outline-offset: 0px; */
}
.iconWeather.item img {
  width: 100%;
}
::placeholder {
  color: #fff;
  font-size: 20px;
}